
@{
    ViewBag.Title = "Completed";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariniz tamamladndi</h2>
            <h4>Satın aldığınızı ürünler en kısa zaqmanda kargoya verilecektir</h4>
        </div>
    </div>
</div>

